//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-dark;


  nav{

    display: flex;
    flex-direction: column;
    align-items: center;


    ul{
      list-style: none;
      padding: 0;

      width: 100%;
      text-align: center;

      li{

        &>ul{
          display: none;

          //background-color: $color-bg-dark;

        }

        &:hover>ul{
          display: block;

          li:hover{
            background-color: $gray-600;
          }
        }

      }

    }

  }



}






@media screen and(min-width: $breakpoint-sm){

  .header-page{

    nav{

      flex-direction: row;

      justify-content: space-between;

      ul{
        width: auto;
        display: flex;

        a{
          padding: 5px 10px;
        }

        li{
          position: relative;

          &>ul{
            position: absolute;
            background-color: $color-bg-dark;
            min-width: 120px;
          }
        }


      }

    }




  }



}











