.images{

  margin: 20px auto;

  img{
    display: block;

  }


}



@media screen and(min-width: $breakpoint-md){

  .images{
    display:grid;

    //nombre:2
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto;

    img:nth-child(1){
      //commence ligne/ finit
      grid-column:1/2;
      grid-row:1/2;
    }

    img:nth-child(2){
      //commence ligne/ finit
      grid-column:2/3;
      //prend ligne au complet(+1)
      grid-row:1/span 1;
    }

    img:nth-child(3){
      //commence ligne/ finit
      grid-column:1/3;
      //prend ligne au complet
      grid-row:2/span 1;
    }

  }

}


@media screen and(min-width: $breakpoint-lg){

  .images{
                            //repete 4 fois, 40px de mArGe
    grid-template-columns: 40px repeat(4, auto) 40px;
    grid-template-rows: 40px repeat(4, auto) 40px;


    img{
      box-shadow: 5px 5px 5px rgba(0,0,0,0.7);


      &:nth-child(1){

        grid-column:2/5;
        grid-row:1/3;
      }

      &:nth-child(2){

        grid-column: 5/6;

        grid-row:3/span 2;
      }

      &:nth-child(3){
               //-1 pour derniere col
        grid-column:1/-1;
        grid-row:1/-1;

        z-index: -1;
      }
    }

  }


}
